.blugenesListEnrichmentVisualizer {
  // put all your css classes inside this block. Keeping them
  // nested under the tool name prevents your styles from
  // leaking out and affecting other elements by accident.

  // If you want to learn more about LESS, visit lesscss.org.

  // to build your css, run `lessc src/style.css dist/style.css --clean-css`
  // in your terminal


  // this is just an example class for root div element, you may modify or delete it as per your usecase
	.rootContainer {
		border: 1px solid black;
    padding: 20px;
    .chart-title {
      font-weight: 300;
      font-size: 24px;
      font-family: sans-serif;
      display: flex;
      justify-content: center;
    }
    .widget-list-container {
      .filter-option {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 10px;
        font-size: 14px;
        font-family: arial;
        text-align: center;

        .option {
            padding: 8px 15px;
            margin: 5px 10px;
            cursor: pointer;
        }
        .selected {
            border: 1.2px solid rgb(85, 137, 233);
            border-radius: 3px;
            background: rgb(85, 137, 233);
            color: white;
        }
        .not-selected {
          border: 1.2px solid rgb(85, 137, 233);
          border-radius: 3px;
        }
        input {
            display: none;
        }
        label {
            cursor: pointer;
        }
      }
    }
    .graph-container {
      display: flex;
      .filter-panel {
        border: 1px solid black;
        height: max-content;
        width: 220px;
        border-radius: 3px;
        padding: 10px;
        margin-top: 30px;
        .title {
          font-size: 18px;
          font-family: sans-serif;
          text-align: center;
          margin-bottom: 10px;
        }
        .filter-container {
          padding: 8px;
          p {
            // display:inline;
            font-weight: 300;
            padding: 0;
            margin: 6px 0;
            font-size: 16px;
            font-family: arial;
            text-align: left;
          }
          .control {
            margin-top: 6px
          }
          select {
            display:inline;
            font-size: 16px;
            border: 1px solid black;
            border-radius: 5px;
            text-align: center;
            padding: 3px;
          }
          input {
            border: 1px solid black;
            border-radius: 5px;
            padding: 4px;
            font-size: 14px;
            width: 100px
          }
        }
      }
    }
	}
}
